{%  extends ":Registration:registration.html.twig" %}

{% block right_box %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Resumen Facturación</h3>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">

            </div><!-- /.row -->
        </div><!-- ./box-body -->
    </div><!-- /.box -->
{% endblock %}
{% block column_action %}
    <td><button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Descargar Acreditación</button></td>
{% endblock %}
