{%  extends ":frontend/registration:step.html.twig" %}

{% block titlestep %}
<h3 class="box-title"> Su Centro</h3>
{% endblock %}
{% block formstep %}
    {{ form_errors(form) }}

    {{ form_rest(form) }}
{% endblock %}
