{% extends ":frontend:base.html.twig"  %}
{% block content %}
    <div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body table-responsive">
                <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}