<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}ritsiGA{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter="cssrewrite" output="css/compiled/ritsi.css" debug=false
            "vendor/bootstrap/dist/css/bootstrap.css"
            "vendor/select2/select2.css"
            "vendor/select2/select2-bootstrap.css"
            "vendor/font-awesome/css/font-awesome.css"
            "vendor/ionicons/css/ionicons.css"
            "vendor/admin-lte/dist/css/AdminLTE.css"
            "vendor/admin-lte/dist/css/skins/skin-red.css"
            "vendor/admin-lte/plugins/iCheck/square/red.css"
            "bundles/app/css/style.css"
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>
<body class="skin-red">
<div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">
        {% block header %}
            <!-- Logo -->
            <a href="index2.html" class="logo"><b>RITSI</b>GA</a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->

                            <ul class="dropdown-menu">

                            </ul>
                        </li><!-- /.messages-menu -->

                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">

                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">

                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->

                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">

                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">

                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">

                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endblock %}
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            {% block sidebar %}
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                {% block user %}
                    {% include '@SonataUser/Profile/show_content.html.twig' %}
                {% endblock %}
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Buscar..."/>
              <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                {% block menu %}
                <li class="header">MENÚ</li>
                <!-- Optionally, you can add icons to the links -->
                    {{ knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass': 'active' }) }}
                {% endblock %}
            </ul><!-- /.sidebar-menu -->
            {% endblock %}
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block title_page %}
            {% endblock %}
        </section>

        <!-- Main content -->
        <section class="content">
            {% for message in app.session.flashbag.get('info') %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
            {% block content %}
            {% endblock %}
            <!-- Your Page Content Here -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        {% block footer %}
        <div class="pull-right hidden-xs">
            Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="#">Company</a>.</strong> All rights reserved.
        {% endblock %}
    </footer>

</div><!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
{% block javascripts %}
    {% javascripts filter="cssrewrite" output="js/compiled/ritsiGA.js" debug=false
        "vendor/jquery/dist/jquery.js"
        "vendor/select2/select2.js"
        "vendor/bootstrap/dist/js/bootstrap.js"
        "vendor/admin-lte/plugins/iCheck/icheck.js"
        "vendor/admin-lte/dist/js/app.js"
        "bundles/app/js/ritsiGA.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>