{%  extends "base.html.twig" %}

{% block content %}
    <div class="container" >

    {% for convention in conventions %}
        <div class="convention row">
            <div class="col-md-4"><h4>{{ convention.name }}</h4></div>
            <div class="col-md-2"><a class="btn btn-default btn-block" href="{{ convention_url(convention) }}">Inscribirse</a></div>
        </div>
    {% else %}
        <h3>No hay asambleas</h3>

    {% endfor %}
    </div>


{% endblock %}