{%  extends "base.html.twig" %}
{% block body %}

    <ul>
        {% for convention in conventions %}
            <li class="convention">{{ convention.name }}</li>
        {% else %}
            <li>No hay datos</li>
        {% endfor %}
    </ul>

{% endblock %}