{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
    <style>
        .main-header .logo {
            font-size: 17px;
        }
    </style>
<link rel="stylesheet" type="text/css"  href="{{ asset('bundles/app/css/style.css') }}"  />
{% endblock %}

{% block logo %}
    {% if admin_pool is defined %}
        {% spaceless %}
            <a class="logo" href="{{ path('sonata_admin_dashboard') }}">
                {{ convention_domain() }} - admin
            </a>
        {% endspaceless %}
    {% endif %}
{% endblock %}