.convention-cancelled{
    position: absolute;
    height: 80%;
    width: 81%;
    background-color: black;
    z-index: 1;
    opacity: 0.8;
    color: white;
    padding-top: 10%;
    padding-left: 30%;
}
.cabecera{
    min-width: 100%;
    margin-top: -15px;
    height: 350px;

}
#control-label{
    font-size: 11px !important;
    color: #9E9E9E !important;
    margin-bottom: 0px;
}
.footer-process{
    position:fixed;
    right:0;
    min-width: 5%;
    z-index: 1;
    top: 80px;
}
.title-convention{
    position: absolute;
    top: 68%;
    min-width: 100%;
    background-color: rgba(0, 0 , 0 , 0.5);
    color: white;
    padding-bottom: 10px;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}


/* STEP */

.stepwizard-step p {
    margin-top: 10px;
}

.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    bottom: 0;
    left: 50%;
    position: absolute;
    content: " ";
    width: 1px;
    height: 100%;
    background-color: #ccc;
    z-order: 0;

}

.process-step {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
}

.process-step p {
    margin-top:10px;

}

.btn-circle {
    width: 80px;
    height: 80px;
    text-align: center;
    padding: 6px 0;
    font-size: 10px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.card{
    transition: .2s ease;
}

.card a {
    color: #444;
}

.card:hover{
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 5px 20px rgba(0,0,0,.3);
    cursor: pointer;
    transition: .2s ease;
}

