{% if is_granted("ROLE_USER") %}
<div class="pull-left image">
    <img src="https://m2.behance.net/rendition/pm/11494245/disp/729ebe0c689023040b7eb03fe48e7792.png" class="img-circle" alt="User Image" />
</div>
<div class="pull-left info">
    {% if is_granted("ROLE_USER") %}

    {% endif %}
    <p><h6>Universidad de Córdoba</h6></p>
    <a href="{{ path('fos_user_profile_edit')}}">Editar mi perfil</a>
</div>
{% endif %}
