{% if is_granted("ROLE_USER") %}
<div class="pull-left image">
    <img src="http://site.sanepar.com.br/sites/site.sanepar.com.br/files/icon_perfil_1.png" class="img-circle" alt="User Image" />
</div>
<div class="pull-left info">
    {% if is_granted("ROLE_USER") %}

    {% endif %}
    <p><h6>Universidad de Córdoba</h6></p>
    <a href="{{ path('fos_user_profile_edit')}}">Editar mi perfil</a>
</div>
{% endif %}
