{%  extends "::step.html.twig" %}

{% block titlestep %}
<h3 class="box-title"> Su Delegación de Estudios</h3>
{% endblock %}
{% block formstep %}
    {{ form_errors(form) }}

    {{ form_rest(form) }}
{% endblock %}
