{%  extends "::step.html.twig" %}

{% block titlestep %}
    <script>
        $("#step_college").addClass( "btn-success" );
    </script>
    <h1>Su Centro</h1>
{% endblock %}
{% block formstep %}
    {{ form_errors(form) }}

    {{ form_rest(form) }}
{% endblock %}
