{%  extends "::step.html.twig" %}

{% block titlestep %}
    <h3 class="box-title"> Factura</h3>
{% endblock %}
{% block formstep %}
    {% include ':Registration:invoice-print.html.twig' %}
{% endblock %}
