{%  extends "base.html.twig" %}

{% block content %}
<h1>Rellena los siguientes datos</h1>
    {{ form(form) }}
<a href="{{ path('sylius_flow_forward', {'scenarioAlias': 'asamblea', 'stepName': 'second'}) }}" class="btn btn-success">forward <i class="icon-forward icon-white"></i></a>
{% endblock %}
