{%  extends "base.html.twig" %}

{% block content %}
<h1>Su Universidad</h1>
    <p>Compruebe que los datos son correctos. El CIF es necesario para realizar las facturas. Si las facturas tienen
    que ir a un CIF distinto podrá indicarlo más adelante. Aquí indique el de su universidad</p>
<form action="{{ path('sylius_flow_forward', {'scenarioAlias': 'asamblea', 'stepName': 'second'}) }}">
    {{ form(form) }}
    <div class="form-actions">
        <a href="{{ path('sylius_flow_display', {'scenarioAlias': 'asamblea', 'stepName': 'first'}) }}" class="btn btn-lg btn-default">Volver</a> &nbsp;
        <button class="btn btn-lg btn-primary" type="submit">
            Siguiente <i class="icon-chevron-right"></i>
        </button>
    </div>
</form>
{% endblock %}