{%  extends "::step.html.twig" %}

{% block titlestep %}
<h1>Su Universidad</h1>
{% endblock %}
{% block descriptionstep %}
    <p>Compruebe que los datos son correctos. El CIF es necesario para realizar las facturas. Si las facturas tienen
    que ir a un CIF distinto podrá indicarlo más adelante. Aquí indique el de su universidad</p>
{% endblock %}

{% block formstep %}
    {{ form(form) }}
{% endblock %}

