{%  extends "::step.html.twig" %}

{% block titlestep %}
    <h3 class="box-title"> Iniciar inscripción</h3>
{% endblock %}
{% block descriptionstep %}
    <div>Antes de proceder con su inscripción, acepta las siguientes condiciones:</div>
    <p>1. Que Vd es representante legal de la asocicación/delegación/consejo de estudiantes del siguiente centro: </p>
    <p>2. Que cuenta con autorización para realizar este proceso </p>
    <p>3. Que todos los datos que va a indicar son auténticos </p>
{% endblock %}

